.navbar-container {
    z-index: 1;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: rgb(119, 119, 168);
}

#right-nav-wrapper {
    margin-left: auto;
    margin-right: 10px;
}

.navbar-list {
  display: flex;
  padding: 0;
}

.github-icon {
    margin-right: 25px;
    padding: 35px;
    max-height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;

    background-image: url(/github-icon.svg);
}

.linkedin-icon {
    display: block;
    padding: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 8px;

    background-image: url(/linkedin-icon.svg);
}

.intro-container {
    background: linear-gradient(180deg,transparent,#111 80vh),radial-gradient(#313131 .5px,transparent 0) 0 0/20px 20px fixed,radial-gradient(#313131 .5px,transparent 0) 10px 10px/20px 20px fixed;
    background-color: #1e344d;

    min-height: 95vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.intro-options-wrapper {
    z-index: 4;
}

.scrollto-link {
  background: none;
  display: flex;
  white-space: nowrap;
  align-items: center;
  border: none;
  font-size: 1.3rem;
  font-weight: 900;
  text-shadow: .2px .2px, .2px .2px, .2px .2px;
  cursor: pointer;
  font-family: Product Sans;
}

.scrollto-resume, .scrollto-contactme {
  border-radius: 5px;
  border: none;
  margin: 20px;
  width: 6rem;
  white-space: nowrap;
  z-index: 2;
  cursor: pointer;
}

.intro-container > h1 {
  margin-top: 200px;
  text-align: center;
}

.intro-container > h2 {
  margin-top: 1rem;
}

/* ABOUT PAGE */

.about-container {
  background-color: #1e344d;
  min-height: 81vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4vh 4vh 10vh 4vh;
}

.about-container > h2 {
  text-align: center;
  font-size: 3rem;
  margin-right: 3%;
  margin-bottom: 4vh;
}

.about-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 69vh;
}

.about-column1-container {
  padding: 0 auto;
  margin-right: 2vw;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.paragraph-wrapper {
  height: 100%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.paragraph-wrapper > p, .paragraph-wrapper > h3 {
  font-size: x-large;
  margin-bottom: auto;
  margin-left: auto;
  width: 80%;
}

.paragraph-wrapper > h3 {
  margin-top: 0;
  font-size: x-large;
  color: rgb(145, 145, 195);
}

.icon-wrapper {
  width: 80%;
  margin-left: auto;
  display: flex;
  max-height: 12vh;
  max-width: 40vw;
}

.hobby-icon {
  max-width: 30%;
  max-height: 100%;
}

#soccer {
  max-height: 75%;
  max-width: 23%;
  padding: 0;
  margin: auto 12% auto auto;
}

.about-column2-container {
  margin-left: 2vw;
  display: flex;
  justify-content: center;
}

.resume-wrapper {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: auto;
  max-height: 70vh;
  border-radius: 10px;

}

.resume {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 10px;
  border-top-right-radius: 0;
}

.download-button-wrapper {
  background-color: rgb(124, 124, 146);

  min-height: 4%;
  min-width: 5%;
  padding-top: .2vh;
  padding-right: .4vw;
  padding-bottom: .2vh;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.resume-download-button {
  display: block;
  width: auto;
  min-height: 3vh;
  min-width: 2vw;
  margin-left: 10%;
  cursor: pointer;

  background-image: url(/download-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.projects-container {
  background-color: #1e344d;
  min-height: 81vh;

  padding: 4vh 10vw 10vh 10vw;
}

.projects-container > h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 4vh;
}

.projects-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 10%;

  height: 69vh;
}

.grid-row {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: auto;
}

.project-info > h3, .project-info > h2 {
  text-align: center;
}

.project-info > h3 {
  white-space: nowrap;
  font-size: small;
}

.project-banner-1 {
  background-color: #21D4FD;
  width: 60%;
  display: flex;
  margin-left: auto;
  border-radius: 10px;
}

.project-banner-2 {
  background-color: #21D4FD;
  width: 60%;
  display: flex;
  margin-right: auto;
  border-radius: 10px;
}

.project-banner-3 {
  background-color: #21D4FD;
  width: 60%;
  display: flex;
  margin-left: auto;
  border-radius: 10px;
}

.skills-container {
  background-color: #1e344d;
  min-height: 81vh;

  padding: 4vh 8vh 10vh 8vh;
}

.skills-container > h2 {
  text-align: center;
  font-size: 3rem;
  margin-right: 1%;
  margin-bottom: 4vh;
}

.skills-list > h3 {
  margin: 0;
  font-size: xx-large;
}

.skills-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 69vh;
}

.skills-column1 {
  /* background-color: #21D4FD; */
  display: flex;
  flex-direction: column;
}

.skills-column1 > h3, .skills-column2 > h3, .skills-column3 > h3 {
  text-align: center;
  font-size: x-large;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 100%;
  margin: auto;
}

.soft-skills > h3 {
  margin: 0;
  font-size: xx-large;
}

.soft-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  height: 100%;
  margin: auto;
}

.soft-skills > li {
  text-align: center;
}

.skills-list > li {
  text-align: center;
}

.skills-column2 {
  /* background-color: #295b66; */
  display: flex;
  flex-direction: column;
}

.skills-column3 {
  display: flex;
  flex-direction: column;
}

.contactme-container {
  background-color: #1e344d;
  min-height: 79vh;

  display: flex;
  flex-direction: column;
  padding: 8vh;
}

.contactme-container > h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10vh;
  margin-top: 2vh;
}

.contactme-grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    overflow: auto;
    overflow-x: hidden
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  margin-left: 2%;
}

.name-email-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 2%;
}

.cell-wrapper {
  margin-top: 5vh;
}

.email-wrapper > h3, .cell-wrapper > h3 {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

.cell-wrapper > text, .email-wrapper > text {
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: x-large;
}

.name-email-wrapper > input {
  background-color: #365272;
  color: white;
  height: 5vh;
  border-radius: 5px;
  border: none;
  width: 48%;
  font-size: 1rem;
  padding: .5rem;
  padding-left: .5rem;
  outline-width: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white
}

.name-email-wrapper > input::placeholder, .email-textarea::placeholder {
  color: rgb(164, 163, 163);
  font-size: 1.5rem;
}

.email-textarea::placeholder {
  font-size: 1.5rem;
}

.name-email-wrapper > input:last-child {
  margin-left: 2%;
}

.email-textarea {
  color: white;
  background-color: #365272;
  height: 30vh;
  border-radius: 5px;
  border: none;
  white-space: pre;
  resize: none;
  margin-bottom: 2vh;
  font-size: 1.5rem;
  padding: 10px;
  outline-width: 0;
}

.contactme-submit-button {
  display: block;
  width: fit-content;
  border-radius: 5px;
  border: none;
  font-size: x-large;
  color: white;
  background-image: linear-gradient(19deg, #21D4FD 0%, #1e344d 100%);
  cursor: pointer;
}

.popup-container {
  color: #000;
  display: none;
  flex-direction: column;
  position: fixed;
  background-color: #456486;;
  width: 230px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -75%);
  border-radius: 0.3rem;
  padding: 1rem;
  z-index: 5; /* Higher than the z-index of the background */
  opacity: 1;
}

.confirmation-text {
  display: flex;
  color: white;
  justify-content: center;
  margin: 0.5rem 0 2rem;
  line-height: 2rem;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
}

.confirmation-button {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.cancel-button {
  background-color: #999999;
  font-size: 1rem;
  cursor: pointer;
}

.cancel-button, .confirmation-button {
  color: white;
  border: none;
  border-radius: 5px;
  width: 40%;
}

.popup-bg {
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1e344d;
  opacity: 0.8;
  overflow: hidden;
  z-index: 4;
}